<div class="technologies-description">
  <div class="container">
    <p class="technologies-description__title">Технология VitaminZone</p>
    <p class="technologies-description__subtitle">
      Специальные лампы в ящике для овощей и фруктов сохраняют уровень витаминов
      в свежих продуктах, имитируя естественный цикл солнечного света внутри
      вашего холодильника.
    </p>
  </div>
  <div class="technologies-description__gallery">
    <img
      class="technologies-description__image"
      src="./assets/vegetables.jpg"
      alt="vegetables"
    />
    <div class="card-info card-info_color_blue card-info_position_left">
      <div class="card-info__description">
        <p class="card-info__title">Зона свежести 0-3°C</p>
        <p class="card-info__subtitle">
          В холодильнике есть специальный отсек с температурой 0-3 ˚C. В нем
          молочные продукты, мясо, рыба будут дольше сохранять свою свежесть,
          пользу и вкус.
        </p>
      </div>
    </div>
    <img
      class="technologies-description__image technologies-description_position_right"
      src="./assets/meat.jpg"
      alt="meat"
    />
    <img
      class="technologies-description__image technologies-description_position_left"
      src="./assets/forest.jpg"
      alt=""
    />
    <div class="card-info card-info_color_green card-info_position_right">
      <div class="card-info__description">
        <p class="card-info__title">Режим «Отпуск»</p>
        <p class="card-info__subtitle">
          На время вашего отсутствия вы можете перевести холодильник в режим
          "Отпуск" и отключить холодильное отделение. Это позволит сэкономить на
          счете за электричество и в тоже время не беспокоиться за сохранность
          продуктов в морозильной камере.
        </p>
      </div>
    </div>
  </div>
</div>
